a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

ul>li{
  list-style: none;
}
body{
    font-family: $primary-font;
    line-height:1;//font chữ bnhiu thì sẽ có chiều cao bấy nhiêu
    color:$title-color;
    font-size:1.4rem;
}
input,button{

  font-family: $primary-font;
  line-height:1;
  outline:none;
}
button{
  cursor:pointer;
}

.text{
  font-family: $secondary-font;
  font-size:1.5rem;
  font-style: italic;
  // color:$text-color;
}
.text--light{
  font-weight:300;
   color:#fff;
}
.text-normal{
  font-style: normal;
}