//color, font, distance, những class chung chung

//Color
$primary-color: #e78582;
$secondary-color: #f0d489;
$third-color: #95e1d3;
$four-color:#f8f8f8;
$title-color:#333333;
$text-color: #999999;
$pre-button:#cccccc;
$next-button:#cccccc;
$gray-light-color:#f5f5f5;
$gray-dark-color:#cccc;

//Font 
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Roboto', sans-serif;
$third-font:'Kaushan Script', cursive;


//Distance
$wrapper:1920px;
$container:1200px;

