section.about-wrapper
  .container.about-list
    +blockHeader("What we do","Story about us","Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi fuga eum saepe repellendus quisquam a, itaque perferendis asperiores delectus culpa similique quia laboriosam rerum odit. Odit quos reprehenderit dolor excepturi.")
    .about-list-img
      .about-item
        img.about-image(src='images/img-about1.png')
        .about-content 
          i.fa.fa-users.about-icon
          span.about-title Super Team
      .about-item
        img.about-image(src='images/img-about2.png')
        .about-content 
          i.fa.fa-users.about-icon
          span.about-title Super Team
      .about-item
        img.about-image(src='images/img-about3.png')
        .about-content 
          i.fa.fa-users.about-icon
          span.about-title Super Team