section#blog
  .container.blog-container
    +blockHeader("Our stories","Lastest blog")
    ul.blog-list 
      +blogItem("../images/img-blog1.png","15","Jan","542","17")
      +blogItem("../images/img-blog2.png","14","Jan","992","42")
      +blogItem("../images/img-blog3.png","12","Jan","1560","98")
      
  