section.device 
  .wrapper.device-wrapper 
    .container.device-list 
      +blockHeader("For all device","Unique Design")
      .device-media
        img.device-img(src='../images/img-devices.png')