
header.header-wrapper
  .container.header-list
    .header-top
      a.header-logo(href="index.html") MoGo
      i.fa.fa-bars.header-toggle
      ul.header-menu-list
        +MenuLink("#","About")
        +MenuLink("#","Service")
        +MenuLink("#","Work")
        +MenuLink("#","Blog")
        +MenuLink("#","Contact")
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fas.fa-shopping-cart
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fas.fa-search
    .header-content
      .header-content-title
          h2.text-title   Creative Template
      .header-content-main 
        h1.text-main Welcome to Mogo
      .header-content-button
        a.button-more(href="#") learn more
    .header-bottom
      .header-bottom-item.is-active
        +headerBottom("01","Intro")
      .header-bottom-item
        +headerBottom("02","Work")
      .header-bottom-item
        +headerBottom("03","About")
      .header-bottom-item
        +headerBottom("04","Intro")
