section#people 
  .wrapper.people-wrapper 
    .container.people-container
      +blockHeader("Happy Clients","What people say")
      ul.people-list 
        li.people-item
          img(src="../images/img-people1.png").people-img
          .people-info 
            h3.people-name Matthew dix 
            span.people-position.text Graphic design 
            p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea temporibus voluptatum excepturi dicta vero ad, eum impedit doloremque sint iusto repellat corrupti cupiditate delectus dolore veniam sit, enim totam.
        li.people-item
          img(src="../images/img-people2.png").people-img
          .people-info 
            h3.people-name Matthew dix 
            span.people-position.text Graphic design 
            p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea temporibus voluptatum excepturi dicta vero ad, eum impedit doloremque sint iusto repellat corrupti cupiditate delectus dolore veniam sit, enim totam.
        li.people-item
          img(src="../images/img-people3.png").people-img
          .people-info 
            h3.people-name Matthew dix 
            span.people-position.text Graphic design 
            p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea temporibus voluptatum excepturi dicta vero ad, eum impedit doloremque sint iusto repellat corrupti cupiditate delectus dolore veniam sit, enim totam.
        li.people-item
          img(src="../images/img-people4.png").people-img
          .people-info 
            h3.people-name Matthew dix 
            span.people-position.text Graphic design 
            p.people-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea temporibus voluptatum excepturi dicta vero ad, eum impedit doloremque sint iusto repellat corrupti cupiditate delectus dolore veniam sit, enim totam.

    