section.service-wrapper
  .container.service-list
    +blockHeader("We work with","Amazing Service")
    .service-container
      .service-item-flex
        .service-item(data-aos="flip-left")
          i.far.fa-clock.service-item-icon
          .service-item-info 
            h3.service-item-title Photography
            p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos voluptate.
        .service-item 
          i.far.fa-edit.service-item-icon
          .service-item-info 
            h3.service-item-title Web design 
            p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos voluptate.
        .service-item(data-aos="flip-left")
          i.fas.fa-desktop.service-item-icon
          .service-item-info 
            h3.service-item-title Creativity
            p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos voluptate.
      .service-item-flex
        .service-item 
          i.far.fa-clock.service-item-icon
          .service-item-info 
            h3.service-item-title SEO
            p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos voluptate.
        .service-item(data-aos="flip-left") 
          i.far.fa-edit.service-item-icon
          .service-item-info 
            h3.service-item-title Css/Html
            p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos voluptate.
        .service-item   
          i.fas.fa-desktop.service-item-icon
          .service-item-info 
            h3.service-item-title Digital
            p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eos voluptate.
        
      