section#story
  .wrapper.story-wrapper 
    .container.story-container 
      //- i.fal.fa-angle-left.story-arrow-left.story-arrow
      .story-item
        .story-icon
          img(src="../images/img-quote-avatar.png")
        .story-info
          p.story-desc "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam commodi cumque quibusdam necessitatibus vel, perspiciatis eius recusandae iste corrupti, ipsa nulla quaerat esse rerum a. Corporis reiciendis maxime incidunt architecto!"
          span.story-author Joshua Earle
      .story-item
        .story-icon
          img(src="../images/img-quote-avatar.png")
        .story-info
          p.story-desc "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam commodi cumque quibusdam necessitatibus vel, perspiciatis eius recusandae iste corrupti, ipsa nulla quaerat esse rerum a. Corporis reiciendis maxime incidunt architecto!"
          span.story-author Joshua Earle
      .story-item
        .story-icon
          img(src="../images/img-quote-avatar.png")
        .story-info
          p.story-desc "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam commodi cumque quibusdam necessitatibus vel, perspiciatis eius recusandae iste corrupti, ipsa nulla quaerat esse rerum a. Corporis reiciendis maxime incidunt architecto!"
          span.story-author Joshua Earle
      
      //- .story-item
      //-   .story-icon
      //-     img(src="../images/img-quote-avatar.png")
      //-   .story-info
      //-     p.story-desc "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam commodi cumque quibusdam necessitatibus vel, perspiciatis eius recusandae iste corrupti, ipsa nulla quaerat esse rerum a. Corporis reiciendis maxime incidunt architecto!"
      //-     span.story-author Joshua Earle
      //- .story-item
      //-   .story-icon
      //-     img(src="../images/img-quote-avatar.png")
      //-   .story-info
      //-     p.story-desc "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam commodi cumque quibusdam necessitatibus vel, perspiciatis eius recusandae iste corrupti, ipsa nulla quaerat esse rerum a. Corporis reiciendis maxime incidunt architecto!"
      //-     span.story-author Joshua Earle
      //- i.fal.fa-angle-right.story-arrow-right.story-arrow 