section#team
  .container.team-container 
    +blockHeader("Who we are","Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ullam culpa distinctio cum, harum aut voluptatibus provident nulla similique expedita saepe minima dolorem aliquid quos, rerum voluptatem deserunt, obcaecati doloremque.")
    .team-list 
      +teamItem("../images/img-team1.png","Matthew Dix","Graphic Design")
      +teamItem("../images/img-team2.png","Christopher Campbell","Brading/UX Design")
      +teamItem("../images/img-team3.png","Michael Fertig","Developer")
     
      