section#wedo 
  .container.wedo-list 
    +blockHeader("Service","What We Do"," Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima ad eius quidem vel sunt adipisci laudantium dolores molestias  . Laudantium voluptatum in id ut itaque similique eos vero!")
    .wedo-container
      img(src='../images/img-wedo.png').wedo-image
      .wedo-content
        .wedo-item.is-active
          .wedo-item-header
            img(src='../images/img-wedo-icon1.png').wedo-item-icon
            h3.wedo-title Photography 
            i.fal.fa-angle-up.wedo-item-arrow
          .wedo-item-content
            .wedo-item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eligendi cumque expedita neque nesciunt voluptates? Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam.Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet. Eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet
        .wedo-item
          .wedo-item-header
            img(src='../images/img-wedo-icon3.png').wedo-item-icon
            h3.wedo-title Creativity
            i.fal.fa-angle-down.wedo-item-arrow
          .wedo-item-content
            .wedo-item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eligendi cumque expedita neque nesciunt voluptates? Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam.Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet
        .wedo-item
          .wedo-item-header
            img(src='../images/img-wedo-icon1.png').wedo-item-icon
            h3.wedo-title Web Design
            i.fal.fa-angle-down.wedo-item-arrow
          .wedo-item-content
            .wedo-item-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eligendi cumque expedita neque nesciunt voluptates? Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam.Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet  eligendi aut, amet, reprehenderit fuga aliquid ut quas facere quam. Labore alias itaque quis voluptatibus eligendi aut, amet
          
        
      
    
