section#work
  .wrapper.work-wrapper 
    .container.work-container 
      +blockHeader("What we do","Some of our work","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsam facere doloribus est ad, eaque dicta. Sed amet repudiandae necessitatibus rerum aliquam, exercitationem, illo ratione quos perspiciatis, ea sint error.")
    .work-list 
      +workItem("../images/img-work1.png")
      +workItem("../images/img-work2.png")
      +workItem("../images/img-work3.png")
      +workItem("../images/img-work4.png")
      +workItem("../images/img-work5.png")
      +workItem("../images/img-work6.png")
      +workItem("../images/img-work7.png")
      //- .work-item 
      //-     img(src="../images/img-work2.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //- .work-item 
      //-     img(src="../images/img-work3.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //- .work-item 
      //-     img(src="../images/img-work4.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //- .work-item 
      //-     img(src="../images/img-work5.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //- .work-item 
      //-     img(src="../images/img-work6.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //- .work-item 
      //-     img(src="../images/img-work7.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //- .work-column 
      //-   .work-item 
      //-     img(src="../images/img-work1.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet consectetur elit.
      //-   .work-item 
      //-     img(src="../images/img-work2.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet elit.
      //- .work-column
      //-   .work-item 
      //-     img(src="../images/img-work3.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet elit.
      //-   .work-item 
      //-     img(src="../images/img-work4.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet elit.
      //- .work-column
      //-   .work-item 
      //-     img(src="../images/img-work5.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet elit.
      //- .work-column
      //-   .work-item 
      //-     img(src="../images/img-work6.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet elit.
      //-   .work-item 
      //-     img(src="../images/img-work7.png").work-image
      //-     .work-content 
      //-       i.fa.fa-home.work-icon 
      //-       h3.work-title Creatively Designed
      //-       span.work-desc.text.text--light Lorem, ipsum dolor sit amet elit.